

/* Estilo geral para .nav-link */
/* .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #f8f9fa;
    transition: width 0.3s ease;
} */

.nav-link:hover::after {
    width: 100%;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

#profile-pic{
    width: 300px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding-bottom: 4rem; /* Ajuste este valor para a altura do seu footer */
}



.navbar-tggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Cor das três linhas do ícone do botão */
}

.full-height-container {
    height: 100vh; /* 100% da altura da viewport */
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-fill {
    flex: 1;
}

/* Estilos padrão (modo escuro) */
.icon-link {
  color: #ffffff; /* Cor dos ícones no modo escuro */
}

/* Estilos para o modo claro */
[data-bs-theme="light"] .icon-link {
  color: #333333; /* Cor dos ícones no modo claro (escura) */
}